{% extends "base.html" %}

{% block content %}
<div class="index-container">
    <p><strong>Due to security concerns, REFOLD is being rewritten.</strong></p>

    <p>In its place is this site, which will evolve over time. The underlying data has been retained - no data has been lost.</p>
    </br>
    <p><a href="refoldingrecord/">Click here to view all Refolding Records</a></p>
    <br/>
    <p>For more information, contact Ashley Buckle at <a href="mailto:ashley.buckle@monash.edu">ashley.buckle@monash.edu</a>.</p>

    <p>Source code is available at <a href="https://github.com/steveandroulakis/Refold-2" target="_blank">GitHub</a></p>

    <p>
      <strong>Development notes:</strong>
      <ul>
          <li>
              <strong>9th January 2012 - </strong>
              Read-only site developed. Allows the viewing of Refolding Record information, including showing Refolding Records for a given Protein.
          </li>
      </ul>
    </p>
	<br/>
	<p>
		<strong>Please cite the following when referring to REFOLD:</strong><br/>

		<small>Michelle K. Chow, Abdullah A. Amin, Kate F. Fulton, James C. Whisstock, Ashley M. Buckle, Stephen P. Bottomley. (2006) REFOLD: An analytical database of protein refolding methods. Protein Expression and Purification, Vol. 46, No. 1. (March 2006), pp. 166-171. <a href="http://www.ncbi.nlm.nih.gov/pubmed/16150607">[PubMed]</a></small>
	</p>
				
</div>
{% endblock %}
