body{ 
  margin: 0; padding: 0; font-size: 16px;
  font-family:Helvetica,arial,freesans,clean,sans-serif;
}

ul {
	list-style-type: none;
	list-style-image: inherit;
	list-style-position: inside;
}
ol {
	list-style-type: decimal;
	list-style-position: inside;
}
ol ol {
	list-style-type: decimal;
}
ul li { font-style: italic; }
ol li { font-style: italic; }
ol ol { font-style: normal; }

table.datatable, table.datatable td, table.datatable th
{
    border-color: gray;
    border-style: solid;
    margin-bottom: 32px;
}

table.datatable
{
    width: 80%;
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 10px;
}

table.datatable td
{
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
}

table.datatable th
{
    text-align: left;
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
    font-weight: bold;
    color: #36C;
}

table.datatable th.row_title {
    width: 20%;
}

table.datatable th.detail_header {
    color: black;
    font-size: 140%;
}

table.datatable th.detail_header .small {
   font-size: 60%;
}

table.datatable th.detail_header .right {
   text-align: right;
   float: right;
}

table.datatable th.detail_subheader {
    width: 20%;
}

a:link { color: #575B6E; }
a:active { color: #575B6E; }
a:visited { color: #575B6E; }

#accordion {
    padding-top: 20px;
}

#subtitleinfo {
    color: #777;
}

input {
    font-size: 13px;
    padding: 6px;
    width: 105px;
    border-radius: 3px 3px 3px 3px;
    -moz-transition: opacity 1s ease 0s;
    background-color: white;
    border: medium none !important;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    color: black;
    opacity: 0.7;
}

#header {
  background: -moz-linear-gradient(center top , #FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
  background:-webkit-gradient(linear,left top,left bottom,from(white),to(#e1e1e1));
  border-bottom: 1px solid #CACACA;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0;
  position: relative;
  z-index: 10;
}

#content {
    margin: 20px;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: block;
}

.container {
  margin: 8px 20px 8px 20px;
}

.site-logo {
  float: left;
  padding: 9px 0 0;
  position: relative;
  font-size: 28px;
  font-weight: bold;
  color: #36C;
}

.site-logo a:link { color: #36C; text-decoration: none; }
.site-logo a:active { color: #36C; text-decoration: none; }
.site-logo a:visited { color: #36C; text-decoration: none; }

.search-container {
  border-left: 1px solid #FAFAFA;
  box-shadow: -1px 0 0 #E0E0E0;
  clear: none;
  float: left;
  margin: 0 0 0 60px;
  padding: 10px;
  width: auto;
}

.link-container {
  border-left: 1px solid #FAFAFA;
  box-shadow: -1px 0 0 #E0E0E0;
  clear: none;
  float: right;
  margin: 0 0 0 10px;
  padding: 10px;
  width: auto;
  height: 28px;
}

#protein-autocomplete
{
    width: 300px;
}

.index-container {
  width: 80%;
}

.sequence {
  width: 600px;
  word-wrap: break-word;
  font-family : "Courier New" , Courier , monospace ;
  font-size: 16px;
}

#footer {
    padding: 10px 0 10px 0;
    font-size: 10px;
    text-align: center;
}