body{ font: 80% "Trebuchet MS", sans-serif; margin: 20px;}

ul {
	list-style-type: none;
	list-style-image: inherit;
	list-style-position: inside;
}
ol {
	list-style-type: decimal;
	list-style-position: inside;
}
ol ol {
	list-style-type: decimal;
}
ul li { font-style: italic; }
ol li { font-style: italic; }
ol ol { font-style: normal; }

table.datatable, table.datatable td, table.datatable th
{
    border-color: gray;
    border-style: solid;
}

table.datatable
{
    width: 80%;
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 10px;
}

table.datatable td
{
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
}

table.datatable th
{
    text-align: left;
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
    font-weight: bold;
    color: #36C;
}

table.datatable th.row_title {
    width: 20%;
}

a:link { color: gray; }
a:hover { color: gray; }
a:active { color: gray; }
a:visited { color: gray; }

#accordion {
    padding-top: 20px;
}

#subtitleinfo {
    color: #777;
}