<!DOCTYPE html>
<html lang="en">
<head>
	<link type="text/css" href="{{ STATIC_URL }}/css/style.css" rel="stylesheet" />
    <title>{% block title %}Refold Revamp{% endblock %}</title>
	
	{% include "refold/includes/js.html" %}
	
	{% block script %}{% endblock %}
	
	{# this is for deployment-specific code such as analytics #}
	{% include "refold/includes/site-specific-head.html" %}
</head>

<body>
	<div id="header" class="clearfix">
		<div class="container">
			
			<div class="site-logo">
				<a href="/">REFOLD</a>
			</div>
			
			<div class="search-container">
				Search for a Refolding Record by Protein: {% include "refold/includes/autocomplete.html" %}
			</div>
			
			<div class="link-container">
				<a href="/refoldingrecord/">{{refolding_record_count}} Refolding Records stored</a>
			</div>			
						
		</div>
	</div>
	
    <div id="sidebar">
        {% block sidebar %}
        {# <ul> #}
        {#     <li><a href="/">Home</a></li> #}
        {#     <li><a href="/blog/">Blog</a></li> #}
        {# </ul> #}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
	
	<div id="footer">
		REFOLD Revamp version: {% include "refold/includes/version.html" %}
	</div>
</body>
</html>
